
<%= render '/header.html.erb' %>
<h2>Register</h2>
<p> to twix it up.</p>
<br>

<div class="login-div">
  <%= form_for @twixer do |f| %>
    Email:<%= f.text_field :email %>
    Password:<%= f.password_field :password %>
    <%= f.submit %>
<% end %>
</div>
